.body{
    color: black;
}

h3 {
    letter-spacing: 3px;
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
    margin: 1rem 0 5rem 1rem;
}

.cntr_button{
    background-color: rgb(255, 255, 255);
    padding: 10px 50px 40px 50px;
    border-radius: 6.5px;
    transition: 0.3s;
}

video {
    width: 80vw;
    height: 80vh;
    object-fit: cover;
    position: unset;
    min-width: 100%;
    min-height: 100%;
}
  

.textCenter{
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: relative;
    top: -35px;
    width: 20px;
    transition: 0.3s;
    margin: 0px;
    padding: 0px;
    left: 650px;
    top: -50px;
}

.intro-container-2 {
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: relative;
    top: -35px;
    width: 20px;
    transition: 0.3s;
    margin: 0px;
    padding: 0px;
    left: 100px;

}

.intro-container-2:hover {
    transform: translate(0, -10px);
}

.home-card {
    width: 25%;
    height: 25vh;
    border-radius: 3px;
}
.home-card h4, p {
    margin: 1.5rem 0 1.5rem 1.5rem;
}
  
  
.home-card small {
    font-weight: bold;
    margin: 3.5rem 0 1rem 1.5rem;
}
.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 35vh 0px 0px 0px;
    margin: 0 auto;
    transition: 0.3s;

}
  
.main-container:h{
    transform: translate(0, -10px);

}
  