h4 {
    font-size: 1rem;
    color: black;
}

.body{
    color: black;
}

.recipe-info h2 {
    margin: 0 0 2rem 1.2rem;

}

.flagPos{
    left: 250px;
    scale: 20px;
}


.food-img {
    width: 25vw;
    height: auto;
    border-radius: 0.5rem;
    margin: 1rem 0 0 1rem;
    box-shadow: 14px 9px 34px -14px rgba(66,66,66,1);
}

.recipe-cont {
    margin-top: 7%;
    display: flex;
    justify-content: center;
}

.recipe-info {
    width: 35vw;
} 

.recipe-info h4 {
    margin: 1.5rem 0 1rem 1rem;
}

.recipe-box {
    margin-top: 7%;
    width: 50vw;
} 

.recipe-box img {
    height: 100px;
    width: auto;
    border-radius: 0.5rem;
    position: absolute;
    right: 10%;
    top: 35%;
    box-shadow: 14px 9px 34px -14px rgba(66,66,66,1);
}

table {
    margin: 1.5rem 0 0 1rem;
    border-collapse: collapse;
    width: 25vw;

    margin-bottom: 5rem;
}

td {

    padding: 0.7rem;
}